<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{titulo}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Buscar"></ion-searchbar>

  <ion-list>

    <ion-item-sliding *ngFor="let movie of listMovies">
      <ion-item lines="full" (click)="exibirMovie(movie)">
        <ion-thumbnail slot="start">
          <img [src]="movie.cartaz" />
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <div>
            <h1>{{movie.nome}}</h1>
            <p>{{movie.lancamento}} - {{movie.duracao}}</p>
            <ion-badge color="light" *ngFor="let categoria of movie.categorias">{{categoria}}</ion-badge>
          </div>
        </ion-label>

        <ion-chip color="success" outline>
          <ion-label>{{movie.nota}}%</ion-label>
        </ion-chip>
      </ion-item>


    </ion-item-sliding>


  </ion-list>

</ion-content>
